<div style="margin: 2%;">
<h1>Articles for edit</h1>

<%= link_to "Add new article", new_admin_article_path %>

<ul>
<% @articles.each do |article| %>
  <li><%= link_to article.headline.html_safe, edit_admin_article_path(article) %></li>
<% end %>
<ul>
