<div style="margin: 2%;">
  <h1>Projects for edit</h1>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to project.title.html_safe, edit_admin_research_path(project)  %></li>
  <% end %>
  </ul>
</div>
