.cv-container {
  .home-header {
    background-image: url('http://res.cloudinary.com/dpuzgzqir/image/upload/v1512958343/possible_cv_tab_banner__u38puj.jpg');
    width: 100vw;
    height: 85vh;
    background-size: cover;
    background-position: 30% 30%;
    position: relative;
  }

  .resume {
    display: block;
    margin: auto;
    min-width: 75%;
    min-height: 100vh;
  }
}
