@import 'breakpoint';
.navbar-container {
  .link-container {
    text-align: right;
    padding: 2rem 2rem 2rem 0;
    z-index: 1;
    background: white;
    width: 100%;

    @include breakpoint(small) {
      text-align: center;
      padding-right: 0;
    }
  }

  .nav-link {
    text-decoration: none;
    text-transform: lowercase;
    color: black;
    display: inline-block;
    margin-right: 0.85rem;
    position: sticky;
    z-index: 1;
  }

  .sticky-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    background: white;
  }
}
