.teaching-container {
  .under-construction {
    display: block;
    margin: 5rem auto;
  }

  .home-header {
    background-image: url('http://res.cloudinary.com/dpuzgzqir/image/upload/v1513353623/possible_Cv_tab_banner_photo__jg2ucx.jpg')
  }
}
